:root {
  /* Solalized color theme https://ethanschoonover.com/solarized */
  --c-base03: #002b36;
  --c-base02: #073642;
  --c-base01: #586e75;
  --c-base00: #657b83;
  --c-base0: #839496;
  --c-base1: #93a1a1;
  --c-base2: #eee8d5;
  --c-base3: #fdf6e3;
  --c-yellow: #b58900;
  --c-orange: #cb4b16;
  --c-red: #dc322f;
  --c-magenta: #d33682;
  --c-violet: #6c71c4;
  --c-blue: #268bd2;
  --c-cyan: #2aa198;
  --c-green: #859900;

  --c-fg: var(--c-base1);
  --c-bg-1: var(--c-base03);
  --c-bg-2: var(--c-base02);
  --c-pallete-1: var(--c-cyan);
  --c-pallete-2: var(--c-yellow);

  --radius: 6px;
  --shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  --transition-duration: 200ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html,
body,
#root {
  font-family: "Roboto";
  height: 100%;
  background: var(--c-bg-1);
  color: var(--c-fg);
}

#root {
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  background: var(--c-bg-2);
  width: 250px;
  height: 120px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.time {
  flex: 0 0 auto;
  height: 68%;

  font-size: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}

.buttons {
  flex: 1 0 auto;
  display: flex;
}

.button {
  flex: 1 0 auto;
  width: 50%;

  color: var(--c-bg-2);
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, background;
  transition-duration: var(--transition-duration);
}

.button:first-child {
  background: var(--c-pallete-1);
  border-bottom-left-radius: var(--radius);
}

.button:first-child:hover {
  background: none;
  color: var(--c-pallete-1);
  border: 2px solid var(--c-pallete-1);
}

.button:last-child {
  background: var(--c-pallete-2);
  border-bottom-right-radius: var(--radius);
}

.button:last-child:hover {
  background: none;
  color: var(--c-pallete-2);
  border: 2px solid var(--c-pallete-2);
}
